:root {
  --cor-escura: #8300a9;
  --cor-media: #a200d1;
  --cor-clara: #b200e6;
  /* --cor-clara: #a14ebf; */
}

* {
  font-family: "Roboto";
}

@font-face {
  font-family: "Roboto";
  src: local("./../../assets/fonts/Roboto.ttf");
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

nav {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 5vh;
  background: var(--cor-media);
}
/* 
dashboard {
  display: none;
  position: absolute;
  z-index: 1;
  top: 5vh;
  height: 95vh;
  width: 20vw;
  background: var(--cor-escura);
  align-self: flex-end;
} */

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
